@media screen and (min-width: 1024px) {
  #navbar-transition {
    visibility: hidden;
  }
  #search-bar-entry {
    visibility: hidden;
  }
  #search-bar-entry-mobile {
    visibility: hidden;
  }
}
